/******************************************************************************
* Project: SOS
* Module:  SOS.Styles.css
* Purpose: Styles for the UI elements of the SOS project
* Author:  Paul M. Breen
* Date:    2012-12-12
* Id:      $Id$
******************************************************************************/

.sos-plot {
  width: 600px;
  height: 300px;
}

.sos-plot-overview {
  margin-left: 50px;
  margin-top: 10px;
  width: 530px;
  height: 50px;
}

.sos-plot-valuebox {
  display: none;
  font-size: 0.65em;
  background: #ffffff;
  filter: alpha(opacity=80);
  opacity: 0.8;
  border: thin solid grey;
  padding: 5px;
  z-index: 1200;
}

.sos-plot-control-title {
  font-weight: bold;
}

.sos-selected-interval-stats-table {
  font-size: 0.75em;
}

.sos-selected-interval-stats-plot {
  width: 300px;
  height: 150px;
  font-size: 0.75em;
  position: absolute;
  left: 200px;
  top: 50px;
}

div.sos-table {
}

table.sos-table {
}

caption.sos-table {
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
}

thead.sos-table {
}

tfoot.sos-table {
}

tbody.sos-table {
}

tr.sos-table {
}

tr.sos-table-odd {
  background-color: #f0f0f0;
}

tr.sos-table-even {
}

th.sos-table {
  border-bottom: thin solid grey;
}

td.sos-table {
  padding-left: 5px;
  padding-right: 5px;
}

td.sos-table-highlight, td.sos-table-highlight-selected {
  background-color: #ffff88;
}

td.sos-table-highlight-selected {
  border: thin dotted grey;
}

/* flot legend styles */
div.legend {
  font-size: 0.70em;
}

